@using Blazor.Client.Models
@using Blazor.Shared
@using System.Globalization
@using Blazor.Client.Extensions

@if (_showOverlay)
{
    <div class="image-overlay-parent" @onclick="ToggleOverlay">
        <div class="image-border">
            <img src="@Model["Source"]" alt="Image" class="image-overlay"/>
            @{
                var text = Model.Type == EmbedType.Image ? "Download image" : "Download gif";
            }
            <a class="overlay-download-link"
               href="@Model["Source"]"
               target="_blank"
               @onclick:stopPropagation="true">
                @text
            </a>
        </div>
    </div>
}

@switch (Model.Type)
{
    case EmbedType.File:
        <div class="embed">
            <svg viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg" class="embed-icon" fill="currentColor">
                @switch (Model["FileType"])
                {
                    case "Pdf":
                        <path d="M181.9 256.1c-5-16-4.9-46.9-2-46.9 8.4 0 7.6 36.9 2 46.9zm-1.7 47.2c-7.7 20.2-17.3 43.3-28.4 62.7 18.3-7 39-17.2 62.9-21.9-12.7-9.6-24.9-23.4-34.5-40.8zM86.1 428.1c0 .8 13.2-5.4 34.9-40.2-6.7 6.3-29.1 24.5-34.9 40.2zM248 160h136v328c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V24C0 10.7 10.7 0 24 0h200v136c0 13.2 10.8 24 24 24zm-8 171.8c-20-12.2-33.3-29-42.7-53.8 4.5-18.5 11.6-46.6 6.2-64.2-4.7-29.4-42.4-26.5-47.8-6.8-5 18.3-.4 44.1 8.1 77-11.6 27.6-28.7 64.6-40.8 85.8-.1 0-.1.1-.2.1-27.1 13.9-73.6 44.5-54.5 68 5.6 6.9 16 10 21.5 10 17.9 0 35.7-18 61.1-61.8 25.8-8.5 54.1-19.1 79-23.2 21.7 11.8 47.1 19.5 64 19.5 29.2 0 31.2-32 19.7-43.4-13.9-13.6-54.3-9.7-73.6-7.2zM377 105L279 7c-4.5-4.5-10.6-7-17-7h-6v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-74.1 255.3c4.1-2.7-2.5-11.9-42.8-9 37.1 15.8 42.8 9 42.8 9z" />
                        break;
                    case "Text":
                        <path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm64 236c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-64c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-72v8c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm96-114.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z" />
                        break;
                    case "Archive":
                        <path d="M377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zM128.4 336c-17.9 0-32.4 12.1-32.4 27 0 15 14.6 27 32.5 27s32.4-12.1 32.4-27-14.6-27-32.5-27zM224 136V0h-63.6v32h-32V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zM95.9 32h32v32h-32zm32.3 384c-33.2 0-58-30.4-51.4-62.9L96.4 256v-32h32v-32h-32v-32h32v-32h-32V96h32V64h32v32h-32v32h32v32h-32v32h32v32h-32v32h22.1c5.7 0 10.7 4.1 11.8 9.7l17.3 87.7c6.4 32.4-18.4 62.6-51.4 62.6z" />
                        break;
                    case "Code":
                        <path d="M224 128L224 0H48C21.49 0 0 21.49 0 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48V160h-127.1C238.3 160 224 145.7 224 128zM154.1 353.8c7.812 7.812 7.812 20.5 0 28.31C150.2 386.1 145.1 388 140 388s-10.23-1.938-14.14-5.844l-48-48c-7.812-7.812-7.812-20.5 0-28.31l48-48c7.812-7.812 20.47-7.812 28.28 0s7.812 20.5 0 28.31L120.3 320L154.1 353.8zM306.1 305.8c7.812 7.812 7.812 20.5 0 28.31l-48 48C254.2 386.1 249.1 388 244 388s-10.23-1.938-14.14-5.844c-7.812-7.812-7.812-20.5 0-28.31L263.7 320l-33.86-33.84c-7.812-7.812-7.812-20.5 0-28.31s20.47-7.812 28.28 0L306.1 305.8zM256 0v128h128L256 0z" />
                        break;
                    case "Video":
                        <path d="M256 0v128h128L256 0zM224 128L224 0H48C21.49 0 0 21.49 0 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48V160h-127.1C238.3 160 224 145.7 224 128zM224 384c0 17.67-14.33 32-32 32H96c-17.67 0-32-14.33-32-32V288c0-17.67 14.33-32 32-32h96c17.67 0 32 14.33 32 32V384zM320 284.9v102.3c0 12.57-13.82 20.23-24.48 13.57L256 376v-80l39.52-24.7C306.2 264.6 320 272.3 320 284.9z" />
                        break;
                    default:
                        <path d="M256 0v128h128L256 0zM224 128L224 0H48C21.49 0 0 21.49 0 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48V160h-127.1C238.3 160 224 145.7 224 128z" />
                        break;
                }
            </svg>

            <a class="embed-link" href="@Model.Data["Source"]" target="_blank">@Model["Filename"]</a>
            <div class="embed-filesize">@MessageExtensions.ConvertToFileSizeString(Model["FileSize"])</div>
        </div>
        break;
    case EmbedType.Image:
        <img src="@Model["Preview"]" alt="@Model.Type" class="embed-image" @onclick="@ToggleOverlay" style="width: @(Model["Width"])px;height: @(Model["Height"])px"/>
        break;
    case EmbedType.Gif:
        <img src="@Model["Source"]" alt="@Model.Type" class="embed-image" @onclick="@ToggleOverlay" />
        break;
    default:
        throw new ArgumentOutOfRangeException();
}

<style>
    a {
        white-space: nowrap;
        color: #3CBDFD;
    }

    a:hover {
        color: #63D9FF;
    }

    .embed {
        display: grid;
        background: #323232;
        grid-template-columns: min-content min-content;
        grid-template-rows: min-content min-content;
        padding: 15px 10px;
        border-radius: 10px;
        width: min-content;
    }

    .embed-icon {
        color: white;
        grid-column: 1;
        grid-row: 1 / 3;
        width: 60px;
        margin-right: 10px;
    }

    .embed-link {
        grid-column: 2;
        grid-row: 1;
        margin-top: 10px;
    }

    .embed-filesize {
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 10px;
        font-size: 16px;
        color: dimgray
    }

    .embed-image {
        max-width: min(95%, 800px);
        max-height: 800px;
        border-radius: 10px;
        cursor: pointer;
    }

    .image-overlay-parent {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-overlay {
        max-height: calc(100vh - 60px);
        max-width: calc(100vw - 40px);
        display: block;
    }

    .image-border {
        padding: 10px 10px 0 10px;
        background-color: #222222;
        border-radius: 10px;
    }

    .overlay-download-link {
        font-size: 16px;
    }



</style>

@inject IJSRuntime JsRuntime

@code {
    [Parameter] public required EmbedModel Model { get; set; }

    private bool _showOverlay;

    private void ToggleOverlay() => _showOverlay = !_showOverlay;
}

